<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    {% block head %}
    <title>{% block title %}{% endblock %} - Carbu</title>
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Carbu - Recharge de la carte prépayée</a>
        </div>
    </nav>

    <div class="container my-5">
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>